.movieCardSkeleton{
    width: 100%;
    height: 8rem;
    background-color: var(--c-primary-light);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}
.movieCardSkeleton .left{
    width: 5rem;
    height: 8rem;
    align-items: center;
    display: flex;
}
.movieCardSkeleton .right{
    width: calc(100% - 5rem);
}