.navbar{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .3rem;
  background-color: var(--c-primary-light);
  z-index: 10;
}
.navbar>ul{
  display: flex;
  justify-content: space-around;
}
.navbar a{
  color: var(--c-gray);
  transition: color .4s ease;
}
.navbar .active{
  color: var(--c-secondary);
}