.navbar{
  position: fixed;
  bottom: 1rem;
  border-radius: 35px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: .3rem;
  background-color: var(--c-primary-light);
}
.navbar>ul{
  display: flex;
  justify-content: space-around;
}
.navbar a{
  color: var(--c-gray);
}
.navbar .active{
  color: var(--c-secondary);
}