@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root{
    --c-primary: #191828;
    --c-secondary: #DEB01A;
    --c-primary-light:#2A2939;
    --c-gray:#6C6C78;
    --c-sky:#8096B2;
    --c-light:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: var(--c-primary);
    color: var(--c-sky);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
}